mat-card {
    width: 80%;
    margin: 2em auto;
    display: flex;
    align-items: center;
}

mat-card-content {
    width: 90%;
}

.full-width {
    margin-top: 2em;
    width: 100%;
}

.min-width {
    width: 100%;
    min-width: 150px;
}

mat-card-actions button {
    margin-left: 0.5em;
}