<mat-table [dataSource]="courses">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let course"> {{ course.name }} </mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
    <mat-cell *matCellDef="let course"> {{ course.category }}
      <mat-icon aria-hidden="false" aria-label="Course category">{{ course.category | category}}</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="action-column-header" *matHeaderCellDef="">
      <button mat-mini-fab (click)="onAdd()" color="accent" aria-label="Add a course">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell class="action-column" *matCellDef="let course">
      <button mat-icon-button color="primary" aria-label="Edit course">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Edit course">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>